@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .clip_path{
        clip-path: polygon(100% 0, 100% 92%, 53% 100%, 0 91%, 0 0);
    }
    .heading{
        @apply text-[25px] md:text-[25px] lg:text-[25px] xl:text-[50px] text-black  uppercase md:leading-[4rem] leading-[3rem] text-center
    }
    
    .logincard{
        background: rgba(255,255,255,0.09);
        
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        border: 2px solid rgba(255, 255, 255, 0.61);
        z-index: 999;
    }
    .bg-custom-gradient {
        background-image: linear-gradient(90deg, rgba(121, 119, 119, 0.31), rgba(94, 94, 94, 0.3));
    }
    
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
input[type="time"]::-webkit-calendar-picker-indicator::after {
    filter: invert(1);
}